body {
    background: url('../images/bg1.png') center 0 no-repeat fixed;
    color: #273545;
    background-size: 100% 100%;
}

.invite-1 {
    position: relative;
}

.invite-1 .btn_boot {
    display: block;
    width: 10.15rem;
    height: 15.4rem;
    position: absolute;
    left: 50%;
    top: 9rem;
    margin-left: -5.125rem;
}

.invite-1 .btn_boot img {
    display: block;
    width: 10.15rem;
    height: 15.4rem;
}

.invite-1 .inviter {
    width: 21.1rem;
    height: 10.4rem;
    background: url('../images/bg_invite_t.png') 0 0 no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    margin-left: -10.55rem;
    top: 37rem;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
}

.invite-1 .inviter .join_group {
    margin-top: 7rem;
}

.invite-1 .inviter p {
    position: absolute;
    bottom: -3rem;
    width: 100%;
    left: 0;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .invite-1 .btn_boot{
        top:7rem;
        margin-left: -3.942rem;
    }
    .invite-1 .btn_boot img{
        width: 7.8rem;
        height: 11.85rem;
    }
    .invite-1 .inviter {
        width: 16.23rem;
        height: 8rem;
        margin-left: -8.16rem;
        top:28.46rem;
        font-size: 1.38rem;
    }
    .invite-1 .inviter .join_group {
        margin-top: 5.384rem;
    }
    .invite-1 .inviter p {
        bottom: -2.3rem;
    }
}
@media screen and (max-width: 600px) {
    .invite-1 .btn_boot {
        margin-left: -6.2rem;
    }

    .invite-1 .btn_boot img {
        width: 12.69rem;
        height: 19.25rem;
    }

    .invite-1 .inviter {
        width: 21.94rem;
        height: 10.82rem;
        top: 32rem;
        margin-left: -10.97rem;
        font-size: 1.55rem;
    }

    .invite-1 .inviter .join_group {
        margin-top: 7.28rem;
    }

    .invite-1 .inviter p {
        bottom: -3.12rem;
    }

}

@media screen and (max-width: 320px) {
    @media screen and (max-height: 480px) {
        .invite-1 .btn_boot{
            top:5.09rem;
            margin-left: -3.47rem;
        }
        .invite-1 .btn_boot img{
            width: 6.77rem;
            height: 10.27rem;
        }
        .invite-1 .inviter {
            width: 14.07rem;
            height: 6.93rem;
            top:21.19rem;
            margin-left: -7.15rem;
        }

        .invite-1 .inviter .join_group {
            margin-top: 4.75rem;
        }
        .invite-1 .inviter p {
            bottom: -2.03rem;
        }
    }
}