body{
	background:url('../imgs/bg1.png') center 0 no-repeat fixed;
	color:#273545;
	background-size:cover;
}
.invite-1{
	position: relative;
}
.invite-1 .btn_boot{
	display:block;
	width:10.15rem;
	height:15.4rem;
	position:absolute;
	left:50%;
	top:9rem;
	margin-left:-5.125rem;
}
.invite-1 .btn_boot img{
	display:block;
	width:10.15rem;
	height:15.4rem;
}
.invite-1 .inviter{
	width:21.1rem;
	height:10.4rem;
	background:url('../imgs/bg_invite_t.png') 0 0 no-repeat;
	background-size:cover;
	position:absolute;
	left:50%;
	margin-left:-10.55rem;
	top:37rem;
	color:#fff;
	font-size:1.8rem;
	text-align:center;
}
.invite-1 .inviter .join_group{
	margin-top:7rem;
}
.invite-1 .inviter p{
	position:absolute;
	bottom:-3rem;
	width:100%;
	left:0;
	text-align:center;
}